/* body{
    background-color:yellow;
} */
#bg{
    /* background-color:red; */
    background-image:url('images/degrees.jpg');
    /* background-repeat:repeat; */
    background-repeat:no-repeat;
    /* background-repeat:repeat-y;
    background-repeat:repeat-x; */
    /* background-position:right bottom; */
    /* background-position:50px 100px; */
    /* background-position:10% 5%; */
    /* background-size: 100% 100%; */
    /* background-attachment:fixed; */
    background-size:cover;

    /* use multiple property */
    background: #ffffff url('images/degrees.jpg') no-repeat fiexed 5% 10%;
}